@model IEnumerable<Dashboard.Models.Campaign>

@{
    ViewBag.Title = "RoadMap";
    var currentRowData = "";
    List<CalenderYear> displayCalender = ViewBag.CalenderYear;
    List<Dashboard.Models.Trade> currentTrades = ViewBag.Trades;
    List<TradeDetails> ownerDetails = ViewBag.Owners;
    List<Dashboard.Models.CampaignType> campaignTypes = ViewBag.CampaignTypes;
    ScheduleFilter filters = ViewBag.ScheduleFilters;
    var panelBodyColor = "#E8E5E0";
}

<div class="normalheader ">
    <div class="hpanel">
        <div class="panel-body" style="background-color: #F3F0EB; border: 0;">
            
            <div class="row" style="margin-top: -20px;">
                <div class="col-lg-5">
                    <div id="hbreadcrumb" class="pull-left m-t-lg">
                        <ol class="hbreadcrumb breadcrumb" style="background-color: #F3F0EB;">
                            <li><a href="/RoadMap">Roadmap</a></li>
                            <li>
                                <span>@filters.TradeName</span>
                            </li>
                            <li>
                                <span>@filters.CampaignType</span>
                            </li>
                        </ol>
                    </div>
                </div>
                
                <div class="col-lg-3">
                    <div class="pull-left m-t-lg">
                    </div>
                </div>
                
                <div class="col-lg-4">
                    <div class="pull-right m-t-lg">
                        <div class="btn-group">

                            <button data-toggle="dropdown" class="btn btn-outline btn-danger dropdown-toggle" aria-expanded="false"><i class="pe-7s-filter" style="padding-right: 10px;"></i>CAMPAIGN TYPE <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                @foreach (var campaignType in campaignTypes)
                                {
                                    if (ViewContext.RouteData.Values.ContainsKey("id"))
                                    {
                                        <li>
                                            <a href="/RoadMap/Index/@ViewContext.RouteData.Values["id"].ToString()/@campaignType.ID">@campaignType.Type</a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li>
                                            <a href="/RoadMap/Index/0/@campaignType.ID">@campaignType.Type</a>
                                        </li>
                                    }
                                }
                                <li class="divider"></li>
                                @if (ViewContext.RouteData.Values.ContainsKey("id") && @ViewContext.RouteData.Values["id"].ToString() != "0")
                                {
                                    <li>
                                        <a href="/RoadMap/Index/@ViewContext.RouteData.Values["id"].ToString()">All Campaign Types</a>
                                    </li>
                                }
                                else
                                {
                                    <li>
                                        <a href="/RoadMap/Index">All Campaign Types</a>
                                    </li>
                                }

                            </ul>
                        </div>
                        <div class="btn-group">

                            <button data-toggle="dropdown" class="btn btn-outline btn-danger dropdown-toggle" aria-expanded="false"><i class="pe-7s-filter" style="padding-right: 10px;"></i>VIEW BY TRADE <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                @foreach (var trade in currentTrades)
                                {
                                    if (ViewContext.RouteData.Values.ContainsKey("type"))
                                    {
                                        <li>
                                            <a href="/RoadMap/Index/@trade.ID/@ViewContext.RouteData.Values["type"].ToString()">@trade.Name</a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li>
                                            <a href="/RoadMap/Index/@trade.ID">@trade.Name</a>
                                        </li>
                                    }
                                }
                                <li class="divider"></li>
                                <li>
                                    <a href="/RoadMap/Index">All Trades</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>

            </div>


        </div>
    </div>
</div>
<div class="content">
@{
    foreach (var myModalCampaign in Model.ToList())
    {
        <div class="modal fade hmodal-danger" id="@myModalCampaign.ID" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="color-line"></div>
                    <div class="modal-header">
                        <h4 class="modal-title">@myModalCampaign.Name</h4>
                        <h5>Objective: @myModalCampaign.Objective</h5>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <dl class="dl-horizontal">
                                    <dt style="padding: 5px;">Campaign Plan</dt>
                                    <dd style="padding: 5px;">@myModalCampaign.CampaignPlan.PlanName</dd>
                                    <dt style="padding: 5px;">Campaign Type</dt>
                                    <dd style="padding: 5px;">@myModalCampaign.CampaignType.Type</dd>
                                    <dt style="padding: 5px;">Campaign Lead</dt>
                                    <dd style="padding: 5px;">@myModalCampaign.CampaignLead.FirstName @myModalCampaign.CampaignLead.LastName</dd>
                                    <dt style="padding: 5px;">Status</dt>
                                    <dd style="padding: 5px;">@myModalCampaign.Status.Name</dd>
                                    <dt style="padding: 5px;">Email System</dt>
                                    <dd style="padding: 5px;">@myModalCampaign.EmailSystem.Name</dd>
                                    <dt style="padding: 5px;">Trades Included</dt>
                                    <dd style="padding: 5px;">
                                        @{
                                            foreach (var recordDetailse in ownerDetails.Where(p => p.CampaignId == myModalCampaign.ID))
                                            {
                                                <span class="badge" style="background-color: @recordDetailse.Color;">@recordDetailse.TradeName</span>
                                            }
                                        }
                                    </dd>
                                </dl>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="table-responsive">
                                    <table cellpadding="1" cellspacing="1" class="table table-condensed table-striped">
                                        <thead>
                                        <tr>
                                            <th>Trade</th>
                                            <th>Campaign Owner</th>
                                            <th>Role</th>
                                            <th>Email</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        @{
                                            foreach (var data in ownerDetails.Where(p => p.CampaignId == myModalCampaign.ID))
                                            {
                                                <tr>
                                                    <td>@data.TradeName</td>
                                                    <td>@data.Name</td>
                                                    <td>@data.Role</td>
                                                    <td>@data.Email</td>
                                                </tr>
                                            }
                                        }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn w-xs btn-danger" onclick="window.open('/Campaigns/Edit/@myModalCampaign.ID');" style="color: white;float:left;">
                            <i class="pe-7s-note"></i>
                            Campaign Notes
                        </button>
                        <button type="button" class="btn w-xs btn-danger" onclick="location.href = '/Campaigns/Details/@myModalCampaign.ID';" style="color: white;">
                            View Campaign Details
                        </button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                        </div>
                    </div>
                </div>
            }
        }


        <div id="largeview" style="overflow: auto; z-index: 100; position: relative;">
        <table id="eventview" class="table table-bordered" style="table-layout: fixed; margin: 25px;">
        <col width="400">
        <col width="400">
        <col width="400">
        <col width="400">
        <col width="400">
        <col width="400">
        <col width="400">
        <col width="400">
        <col width="400">
        <col width="400">
        <col width="400">
        <col width="400">
        <thead>
        <tr>
            <th class="calender-header">
                January
            </th>
            <th class="calender-header">
                February
            </th>
            <th class="calender-header">
                March
            </th>
            <th class="calender-header">
                April
            </th>
            <th class="calender-header">
                May
            </th>
            <th class="calender-header">
                June
            </th>
            <th class="calender-header">
                July
            </th>
            <th class="calender-header">
                August
            </th>
            <th class="calender-header">
                September
            </th>
            <th class="calender-header">
                October
            </th>
            <th class="calender-header">
                November
            </th>
            <th class="calender-header">
                December
            </th>
        </tr>
        </thead>
        <tbody>
        @{
            foreach (var cmonth in displayCalender)
            {
                currentRowData = "<tr><td>" + cmonth.Jan + "</td><td>" + cmonth.Feb + "</td><td>" + cmonth.Mar + "</td><td>" + cmonth.Apr + "</td><td>" + cmonth.May + "</td><td>" + cmonth.Jun + "</td><td>" + cmonth.Jul + "</td><td>" + cmonth.Aug + "</td><td>" + cmonth.Sep + "</td><td>" + cmonth.Oct + "</td><td>" + cmonth.Nov + "</td><td>" + cmonth.Dec + "</td></tr>";
                <tr @(currentRowData == "<tr><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td></tr>" ? string.Empty : "style=\"display: none; \"")>

                @{
                    if (cmonth.Jan != 0)
                    {
                        <td>
                            <div class="row" style="margin-top: 10px;">
                                <div class="col-lg-12" style="margin-top: 10px;">
                                    <div class="hpanel hred hpanel-margin">
                                        @if (Model.FirstOrDefault(p => p.ID == cmonth.Jan).CampaignType.Type == "Behavioral")
                                        {
                                            panelBodyColor = "#F5D6DD";
                                        }
                                        else
                                        {
                                            panelBodyColor = "#E8E5E0";
                                        }
                                        <div class="panel-body panel-event" data-toggle="modal" data-target="#@cmonth.Jan" style="background-color: @panelBodyColor; cursor: pointer;">
                                            <div class="row">
                                                <div class="col-lg-6 no-padding">
                                                    <div class="row">
                                                        <div class="col-lg-12" style="text-align: right;">
                                                            <h5 class="campaign-title">
                                                                @Model.FirstOrDefault(p => p.ID == cmonth.Jan).Name
                                                            </h5>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-12" style="text-align: right;">
                                                            <p style="text-align: center; color: #666666;">
                                                                @Model.FirstOrDefault(p => p.ID == cmonth.Jan).Status.Name
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 border-left">
                                                    <div class="row">
                                                        <div class="col-lg-12" style="text-align: center;">
                                                            @{
                                                                foreach (var trd in Model.FirstOrDefault(p => p.ID == cmonth.Jan).CampaignTrades.ToList())
                                                                {
                                                                    <span class="badge" style="background-color: @trd.Trade.Color;">@trd.Trade.Name</span>
                                                                }
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    }
                    else
                    {
                        <td></td>
                    }
                    if (cmonth.Feb != 0)
                    {
                        <td>
                            <div class="row" style="margin-top: 10px;">
                                <div class="col-lg-12" style="margin-top: 10px;">
                                    <div class="hpanel hred hpanel-margin">
                                        @if (Model.FirstOrDefault(p => p.ID == cmonth.Feb).CampaignType.Type == "Behavioral")
                                        {
                                            panelBodyColor = "#F5D6DD";
                                        }
                                        else
                                        {
                                            panelBodyColor = "#E8E5E0";
                                        }
                                        <div class="panel-body panel-event" data-toggle="modal" data-target="#@cmonth.Feb" style="background-color: @panelBodyColor; cursor: pointer;">
                                            <div class="row">
                                                <div class="col-lg-6 no-padding">
                                                    <div class="row">
                                                        <div class="col-lg-12" style="text-align: right;">
                                                            <h5 class="campaign-title">
                                                                @Model.FirstOrDefault(p => p.ID == cmonth.Feb).Name
                                                            </h5>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-12" style="text-align: right;">
                                                                <p style="text-align: center; color: #666666;">
                                                                    @Model.FirstOrDefault(p => p.ID == cmonth.Feb).Status.Name
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 border-left">
                                                    <div class="row">
                                                        <div class="col-lg-12" style="text-align: center;">
                                                            @{
                                                                foreach (var trd in Model.FirstOrDefault(p => p.ID == cmonth.Feb).CampaignTrades.ToList())
                                                                {
                                                                    <span class="badge" name="@trd.Trade.Name" style="background-color: @trd.Trade.Color;">@trd.Trade.Name</span>
                                                                }
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    }
                    else
                    {
                        <td></td>
                    }
                    if (cmonth.Mar != 0)
                    {
                        <td>
                            <div class="row" style="margin-top: 10px;">
                                <div class="col-lg-12" style="margin-top: 10px;">
                                    <div class="hpanel hred hpanel-margin">
                                        @if (Model.FirstOrDefault(p => p.ID == cmonth.Mar).CampaignType.Type == "Behavioral")
                                        {
                                            panelBodyColor = "#F5D6DD";
                                        }
                                        else
                                        {
                                            panelBodyColor = "#E8E5E0";
                                        }
                                        <div class="panel-body panel-event" data-toggle="modal" data-target="#@cmonth.Mar" style="background-color: @panelBodyColor; cursor: pointer;">
                                            <div class="row">
                                                <div class="col-lg-6 no-padding">
                                                    <div class="row">
                                                        <div class="col-lg-12" style="text-align: right;">
                                                            <h5 class="campaign-title">
                                                                @Model.FirstOrDefault(p => p.ID == cmonth.Mar).Name
                                                            </h5>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-12" style="text-align: right;">
                                                            <p style="text-align: center; color: #666666;">
                                                                @Model.FirstOrDefault(p => p.ID == cmonth.Mar).Status.Name
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 border-left">
                                                    <div class="row">
                                                        <div class="col-lg-12" style="text-align: center;">
                                                            @{
                                                                foreach (var trd in Model.FirstOrDefault(p => p.ID == cmonth.Mar).CampaignTrades.ToList())
                                                                {
                                                                    <span class="badge" style="background-color: @trd.Trade.Color;">@trd.Trade.Name</span>
                                                                }
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    }
                    else
                    {
                        <td></td>
                    }
                    if (cmonth.Apr != 0)
                    {
                        <td>
                            <div class="row" style="margin-top: 10px;">
                                <div class="col-lg-12" style="margin-top: 10px;">
                                    <div class="hpanel hred hpanel-margin">
                                        @if (Model.FirstOrDefault(p => p.ID == cmonth.Apr).CampaignType.Type == "Behavioral")
                                        {
                                            panelBodyColor = "#F5D6DD";
                                        }
                                        else
                                        {
                                            panelBodyColor = "#E8E5E0";
                                        }
                                        <div class="panel-body panel-event" data-toggle="modal" data-target="#@cmonth.Apr" style="background-color: @panelBodyColor; cursor: pointer;">
                                            <div class="row">
                                                <div class="col-lg-6 no-padding">
                                                    <div class="row">
                                                        <div class="col-lg-12" style="text-align: right;">
                                                            <h5 class="campaign-title">
                                                                @Model.FirstOrDefault(p => p.ID == cmonth.Apr).Name
                                                            </h5>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-12" style="text-align: right;">
                                                            <p style="text-align: center; color: #666666;">
                                                                @Model.FirstOrDefault(p => p.ID == cmonth.Apr).Status.Name
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 border-left">
                                                    <div class="row">
                                                        <div class="col-lg-12" style="text-align: center;">
                                                            @{
                                                                foreach (var trd in Model.FirstOrDefault(p => p.ID == cmonth.Apr).CampaignTrades.ToList())
                                                                {
                                                                    <span class="badge" style="background-color: @trd.Trade.Color;">@trd.Trade.Name</span>
                                                                }
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    }
                    else
                    {
                        <td></td>
                    }
                    if (cmonth.May != 0)
                    {
                        <td>
                            <div class="row" style="margin-top: 10px;">
                                <div class="col-lg-12" style="margin-top: 10px;">
                                    <div class="hpanel hred hpanel-margin">
                                        @if (Model.FirstOrDefault(p => p.ID == cmonth.May).CampaignType.Type == "Behavioral")
                                        {
                                            panelBodyColor = "#F5D6DD";
                                        }
                                        else
                                        {
                                            panelBodyColor = "#E8E5E0";
                                        }
                                        <div class="panel-body panel-event" data-toggle="modal" data-target="#@cmonth.May" style="background-color: @panelBodyColor; cursor: pointer;">
                                            <div class="row">
                                                <div class="col-lg-6 no-padding">
                                                    <div class="row">
                                                        <div class="col-lg-12" style="text-align: right;">
                                                            <h5 class="campaign-title">
                                                                @Model.FirstOrDefault(p => p.ID == cmonth.May).Name
                                                            </h5>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-12" style="text-align: right;">
                                                            <p style="text-align: center; color: #666666;">
                                                                @Model.FirstOrDefault(p => p.ID == cmonth.May).Status.Name
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 border-left">
                                                    <div class="row">
                                                        <div class="col-lg-12" style="text-align: center;">
                                                            @{
                                                                foreach (var trd in Model.FirstOrDefault(p => p.ID == cmonth.May).CampaignTrades.ToList())
                                                                {
                                                                    <span class="badge" style="background-color: @trd.Trade.Color;">@trd.Trade.Name</span>
                                                                }
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    }
                    else
                    {
                        <td></td>
                    }
                    if (cmonth.Jun != 0)
                    {
                        <td>
                            <div class="row" style="margin-top: 10px;">
                                <div class="col-lg-12" style="margin-top: 10px;">
                                    <div class="hpanel hred hpanel-margin">
                                        @if (Model.FirstOrDefault(p => p.ID == cmonth.Jun).CampaignType.Type == "Behavioral")
                                        {
                                            panelBodyColor = "#F5D6DD";
                                        }
                                        else
                                        {
                                            panelBodyColor = "#E8E5E0";
                                        }
                                        <div class="panel-body panel-event" data-toggle="modal" data-target="#@cmonth.Jun" style="background-color: @panelBodyColor; cursor: pointer;">
                                            <div class="row">
                                                <div class="col-lg-6 no-padding">
                                                    <div class="row">
                                                        <div class="col-lg-12" style="text-align: right;">
                                                            <h5 class="campaign-title">
                                                                @Model.FirstOrDefault(p => p.ID == cmonth.Jun).Name
                                                            </h5>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-12" style="text-align: right;">
                                                            <p style="text-align: center; color: #666666;">
                                                                @Model.FirstOrDefault(p => p.ID == cmonth.Jun).Status.Name
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 border-left">
                                                    <div class="row">
                                                        <div class="col-lg-12" style="text-align: center;">
                                                            @{
                                                                foreach (var trd in Model.FirstOrDefault(p => p.ID == cmonth.Jun).CampaignTrades.ToList())
                                                                {
                                                                    <span class="badge" style="background-color: @trd.Trade.Color;">@trd.Trade.Name</span>
                                                                }
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    }
                    else
                    {
                        <td></td>
                    }
                    if (cmonth.Jul != 0)
                    {
                        <td>
                            <div class="row" style="margin-top: 10px;">
                                <div class="col-lg-12" style="margin-top: 10px;">
                                    <div class="hpanel hred hpanel-margin">
                                        @if (Model.FirstOrDefault(p => p.ID == cmonth.Jul).CampaignType.Type == "Behavioral")
                                        {
                                            panelBodyColor = "#F5D6DD";
                                        }
                                        else
                                        {
                                            panelBodyColor = "#E8E5E0";
                                        }
                                        <div class="panel-body panel-event" data-toggle="modal" data-target="#@cmonth.Jul" style="background-color: @panelBodyColor; cursor: pointer;">
                                            <div class="row">
                                                <div class="col-lg-6 no-padding">
                                                    <div class="row">
                                                        <div class="col-lg-12" style="text-align: right;">
                                                            <h5 class="campaign-title">
                                                                @Model.FirstOrDefault(p => p.ID == cmonth.Jul).Name
                                                            </h5>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-12" style="text-align: right;">
                                                            <p style="text-align: center; color: #666666;">
                                                                @Model.FirstOrDefault(p => p.ID == cmonth.Jul).Status.Name
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 border-left">
                                                    <div class="row">
                                                        <div class="col-lg-12" style="text-align: center;">
                                                            @{
                                                                foreach (var trd in Model.FirstOrDefault(p => p.ID == cmonth.Jul).CampaignTrades.ToList())
                                                                {
                                                                    <span class="badge" style="background-color: @trd.Trade.Color;">@trd.Trade.Name</span>
                                                                }
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    }
                    else
                    {
                        <td></td>
                    }
                    if (cmonth.Aug != 0)
                    {
                        <td>
                            <div class="row" style="margin-top: 10px;">
                                <div class="col-lg-12" style="margin-top: 10px;">
                                    <div class="hpanel hred hpanel-margin">
                                        @if (Model.FirstOrDefault(p => p.ID == cmonth.Aug).CampaignType.Type == "Behavioral")
                                        {
                                            panelBodyColor = "#F5D6DD";
                                        }
                                        else
                                        {
                                            panelBodyColor = "#E8E5E0";
                                        }
                                        <div class="panel-body panel-event" data-toggle="modal" data-target="#@cmonth.Aug" style="background-color: @panelBodyColor; cursor: pointer;">
                                            <div class="row">
                                                <div class="col-lg-6 no-padding">
                                                    <div class="row">
                                                        <div class="col-lg-12" style="text-align: right;">
                                                            <h5 class="campaign-title">
                                                                @Model.FirstOrDefault(p => p.ID == cmonth.Aug).Name
                                                            </h5>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-12" style="text-align: right;">
                                                            <p style="text-align: center; color: #666666;">
                                                                @Model.FirstOrDefault(p => p.ID == cmonth.Aug).Status.Name
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 border-left">
                                                    <div class="row">
                                                        <div class="col-lg-12" style="text-align: center;">
                                                            @{
                                                                foreach (var trd in Model.FirstOrDefault(p => p.ID == cmonth.Aug).CampaignTrades.ToList())
                                                                {
                                                                    <span class="badge" style="background-color: @trd.Trade.Color;">@trd.Trade.Name</span>
                                                                }
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    }
                    else
                    {
                        <td></td>
                    }
                    if (cmonth.Sep != 0)
                    {
                        <td>
                            <div class="row" style="margin-top: 10px;">
                                <div class="col-lg-12" style="margin-top: 10px;">
                                    <div class="hpanel hred hpanel-margin">
                                        @if (Model.FirstOrDefault(p => p.ID == cmonth.Sep).CampaignType.Type == "Behavioral")
                                        {
                                            panelBodyColor = "#F5D6DD";
                                        }
                                        else
                                        {
                                            panelBodyColor = "#E8E5E0";
                                        }
                                        <div class="panel-body panel-event" data-toggle="modal" data-target="#@cmonth.Sep" style="background-color: @panelBodyColor; cursor: pointer;">
                                            <div class="row">
                                                <div class="col-lg-6 no-padding">
                                                    <div class="row">
                                                        <div class="col-lg-12" style="text-align: right;">
                                                            <h5 class="campaign-title">
                                                                @Model.FirstOrDefault(p => p.ID == cmonth.Sep).Name
                                                            </h5>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-12" style="text-align: right;">
                                                            <p style="text-align: center; color: #666666;">
                                                                @Model.FirstOrDefault(p => p.ID == cmonth.Sep).Status.Name
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-lg-6 border-left">
                                                    <div class="row">
                                                        <div class="col-lg-12" style="text-align: center;">
                                                            @{
                                                                foreach (var trd in Model.FirstOrDefault(p => p.ID == cmonth.Sep).CampaignTrades.ToList())
                                                                {
                                                                    <span class="badge" style="background-color: @trd.Trade.Color;">@trd.Trade.Name</span>
                                                                }
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    }
                    else
                    {
                        <td></td>
                    }
                    if (cmonth.Oct != 0)
                    {
                        <td>
                            <div class="row" style="margin-top: 10px;">
                                <div class="col-lg-12" style="margin-top: 10px;">
                                    <div class="hpanel hred hpanel-margin">
                                        @if (Model.FirstOrDefault(p => p.ID == cmonth.Oct).CampaignType.Type == "Behavioral")
                                        {
                                            panelBodyColor = "#F5D6DD";
                                        }
                                        else
                                        {
                                            panelBodyColor = "#E8E5E0";
                                        }
                                        <div class="panel-body panel-event" data-toggle="modal" data-target="#@cmonth.Oct" style="background-color: @panelBodyColor; cursor: pointer;">
                                            <div class="row">
                                                <div class="col-lg-6 no-padding">
                                                    <div class="row">
                                                        <div class="col-lg-12" style="text-align: right;">
                                                            <h5 class="campaign-title">
                                                                @Model.FirstOrDefault(p => p.ID == cmonth.Oct).Name
                                                            </h5>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-12" style="text-align: right;">
                                                            <p style="text-align: center; color: #666666;">
                                                                @Model.FirstOrDefault(p => p.ID == cmonth.Oct).Status.Name
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 border-left">
                                                    <div class="row">
                                                        <div class="col-lg-12" style="text-align: center;">
                                                            @{
                                                                foreach (var trd in Model.FirstOrDefault(p => p.ID == cmonth.Oct).CampaignTrades.ToList())
                                                                {
                                                                    <span class="badge" style="background-color: @trd.Trade.Color;">@trd.Trade.Name</span>
                                                                }
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    }
                    else
                    {
                        <td></td>
                    }
                    if (cmonth.Nov != 0)
                    {
                        <td>
                            <div class="row" style="margin-top: 10px;">
                                <div class="col-lg-12" style="margin-top: 10px;">
                                    <div class="hpanel hred hpanel-margin">
                                        @if (Model.FirstOrDefault(p => p.ID == cmonth.Nov).CampaignType.Type == "Behavioral")
                                        {
                                            panelBodyColor = "#F5D6DD";
                                        }
                                        else
                                        {
                                            panelBodyColor = "#E8E5E0";
                                        }
                                        <div class="panel-body panel-event" data-toggle="modal" data-target="#@cmonth.Nov" style="background-color: @panelBodyColor; cursor: pointer;">
                                            <div class="row">
                                                <div class="col-lg-6 no-padding">
                                                    <div class="row">
                                                        <div class="col-lg-12" style="text-align: right;">
                                                            <h5 class="campaign-title">
                                                                @Model.FirstOrDefault(p => p.ID == cmonth.Nov).Name
                                                            </h5>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-12" style="text-align: right;">
                                                            <p style="text-align: center; color: #666666;">
                                                                @Model.FirstOrDefault(p => p.ID == cmonth.Nov).Status.Name
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 border-left">
                                                    <div class="row">
                                                        <div class="col-lg-12" style="text-align: center;">
                                                            @{
                                                                foreach (var trd in Model.FirstOrDefault(p => p.ID == cmonth.Nov).CampaignTrades.ToList())
                                                                {
                                                                    <span class="badge" style="background-color: @trd.Trade.Color;">@trd.Trade.Name</span>
                                                                }
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    }
                    else
                    {
                        <td></td>
                    }
                    if (cmonth.Dec != 0)
                    {
                        <td>
                            <div class="row" style="margin-top: 10px;">
                                <div class="col-lg-12" style="margin-top: 10px;">
                                    <div class="hpanel hred hpanel-margin">
                                        @if (Model.FirstOrDefault(p => p.ID == cmonth.Dec).CampaignType.Type == "Behavioral")
                                        {
                                            panelBodyColor = "#F5D6DD";
                                        }
                                        else
                                        {
                                            panelBodyColor = "#E8E5E0";
                                        }
                                        <div class="panel-body panel-event" data-toggle="modal" data-target="#@cmonth.Dec" style="background-color: @panelBodyColor; cursor: pointer;">
                                            <div class="row">
                                                <div class="col-lg-6 no-padding">
                                                    <div class="row">
                                                        <div class="col-lg-12" style="text-align: right;">
                                                            <h5 class="campaign-title">
                                                                @Model.FirstOrDefault(p => p.ID == cmonth.Dec).Name
                                                            </h5>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-12" style="text-align: right;">
                                                            <p style="text-align: center; color: #666666;">
                                                                @Model.FirstOrDefault(p => p.ID == cmonth.Dec).Status.Name
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 border-left">
                                                    <div class="row">
                                                        <div class="col-lg-12" style="text-align: center;">
                                                            @{
                                                                foreach (var trd in Model.FirstOrDefault(p => p.ID == cmonth.Dec).CampaignTrades.ToList())
                                                                {
                                                                    <span class="badge" style="background-color: @trd.Trade.Color;">@trd.Trade.Name</span>
                                                                }
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    }
                    else
                    {
                        <td></td>
                    }
                }

                </tr>
            }
        }
        </tbody>
        </table>
        </div>
        </div>


        @section Styles {
            @Styles.Render("~/bundles/xeditable/css")
            @Styles.Render("~/bundles/select2/css")
            @Styles.Render("~/bundles/touchspin/css")
            @Styles.Render("~/bundles/datepicker/css")
            @Styles.Render("~/bundles/bootstrapCheckbox/css")
            @Styles.Render("~/bundles/datetimepicker/css")
            @Styles.Render("~/bundles/clockpicker/css")
            @Styles.Render("~/bundles/loader/css")
            @Styles.Render("~/bundles/floating/css")
            @Styles.Render("~/bundles/toggle/css")

        }

        @section Scripts {
            @Scripts.Render("~/bundles/moment/js")
            @Scripts.Render("~/bundles/xeditable/js")
            @Scripts.Render("~/bundles/select2/js")
            @Scripts.Render("~/bundles/touchspin/js")
            @Scripts.Render("~/bundles/datepicker/js")
            @Scripts.Render("~/bundles/datetimepicker/js")
            @Scripts.Render("~/bundles/clockpicker/js")
            @Scripts.Render("~/bundles/loader/js")
            @Scripts.Render("~/bundles/floating/js")
            @Scripts.Render("~/bundles/toggle/js")


            <script type="text/javascript">

                //$("div[name='eventbox']:contains('Dust')").hide();
                $(document).ready(function() {
                    $("#largeview").floatingScroll();
                });
            </script>
        }
