@model Dashboard.Models.TemplateC

@{
    ViewBag.Title = "Edit";
}
<div class="content">
    <div class="row">
        <div class="col-lg-4">
            <div class="hpanel hred">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        <a class="closebox"><i class="fa fa-times"></i></a>
                    </div>
                    Template C
                </div>
                <div class="panel-body">
                    <div id="hotspotImg" class="responsive-hotspot-wrap">
                        <img src="~/Images/Templates/TemplateC.png" class="img-responsive" style="width:600px;">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="hpanel">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        <a class="closebox"><i class="fa fa-times"></i></a>
                    </div>
                    Edit Template Content
                </div>
                <div class="panel-body">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-horizontal">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="hpanel">
                                        <ul class="nav nav-tabs">
                                            <li class="active"><a data-toggle="tab" href="#tab-1" aria-expanded="true"><i class="fa fa-align-justify"></i> Main Content</a></li>
                                            <li class=""><a data-toggle="tab" href="#tab-2" aria-expanded="false"><i class="fa fa-clone"></i> Column 1 Content</a></li>
                                            <li class=""><a data-toggle="tab" href="#tab-3" aria-expanded="false"><i class="fa fa-clone"></i> Column 2 Content</a></li>
                                        </ul>
                                        <div class="tab-content">
                                            <div id="tab-1" class="tab-pane active">
                                                <div class="panel-body">
                                                    <div class="row padfull20">
                                                        <div class="col-lg-12">
                                                            <div class="row">
                                                                <div class="col-lg-4"><label class="pad10">Campaign Name</label></div>
                                                                <div class="col-lg-8">
                                                                    @Html.DropDownList("CampaignID", null, htmlAttributes: new { @class = "form-control" })
                                                                    @Html.ValidationMessageFor(model => model.CampaignID, "", new { @class = "text-danger" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row padfull20">
                                                        <div class="col-lg-12">
                                                            <div class="row">
                                                                <div class="col-lg-4"><label class="pad10">Email Head Line</label></div>
                                                                <div class="col-lg-8">
                                                                    @Html.EditorFor(model => model.HeadLine, new { htmlAttributes = new { @class = "form-control", @maxlength = "45", @placeholder = "Max. 50 characters.." } })
                                                                    @Html.ValidationMessageFor(model => model.HeadLine, "", new { @class = "text-danger" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row padfull20">
                                                        <div class="col-lg-12">
                                                            <div class="row">
                                                                <div class="col-lg-4"><label class="pad10">Email Sub Head Line</label></div>
                                                                <div class="col-lg-8">
                                                                    @Html.EditorFor(model => model.SubHeadLine, new { htmlAttributes = new { @class = "form-control", @placeholder = "Max. 50 characters.." } })
                                                                    @Html.ValidationMessageFor(model => model.SubHeadLine, "", new { @class = "text-danger" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row padfull20">
                                                        <div class="col-lg-12">
                                                            <div class="row">
                                                                <div class="col-lg-4"><label class="pad10">Key Banner Image ID</label></div>
                                                                <div class="col-lg-8">
                                                                    @Html.EditorFor(model => model.KeyBannerImage, new { htmlAttributes = new { @class = "form-control" } })
                                                                    @Html.ValidationMessageFor(model => model.KeyBannerImage, "", new { @class = "text-danger" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row padfull20">
                                                        <div class="col-lg-12">
                                                            <div class="row">
                                                                <div class="col-lg-4"><label class="pad10">Introduction Message</label></div>
                                                                <div class="col-lg-8">
                                                                    @Html.TextAreaFor(model => model.IntroductionMessage, new { htmlAttributes = new { @class = "form-control" } })
                                                                    @Html.ValidationMessageFor(model => model.IntroductionMessage, "", new { @class = "text-danger" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row padfull20">
                                                        <div class="col-lg-12">
                                                            <div class="row">
                                                                <div class="col-lg-4"><label class="pad10">Call-to-Action (CTA) Text</label></div>
                                                                <div class="col-lg-8">
                                                                    @Html.EditorFor(model => model.CTAText, new { htmlAttributes = new { @class = "form-control" } })
                                                                    @Html.ValidationMessageFor(model => model.CTAText, "", new { @class = "text-danger" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row padfull20">
                                                        <div class="col-lg-12">
                                                            <div class="row">
                                                                <div class="col-lg-4"><label class="pad10">Call-to-Action (CTA) Link</label></div>
                                                                <div class="col-lg-8">
                                                                    @Html.EditorFor(model => model.CTALink, new { htmlAttributes = new { @class = "form-control" } })
                                                                    @Html.ValidationMessageFor(model => model.CTALink, "", new { @class = "text-danger" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row padfull20">
                                                        <div class="col-lg-12">
                                                            <div class="row">
                                                                <div class="col-lg-4"><label class="pad10">Secondary Caption</label></div>
                                                                <div class="col-lg-8">
                                                                    @Html.EditorFor(model => model.SecondaryCaption, new { htmlAttributes = new { @class = "form-control", @placeholder = "Max. 50 characters.." } })
                                                                    @Html.ValidationMessageFor(model => model.SecondaryCaption, "", new { @class = "text-danger" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="tab-2" class="tab-pane">
                                                <div class="panel-body">
                                                    <div class="row padfull20">
                                                        <div class="col-lg-12">
                                                            <div class="row">
                                                                <div class="col-lg-4"><label class="pad10">Column 1 Image ID</label></div>
                                                                <div class="col-lg-8">
                                                                    @Html.EditorFor(model => model.Column1Image, new { htmlAttributes = new { @class = "form-control" } })
                                                                    @Html.ValidationMessageFor(model => model.Column1Image, "", new { @class = "text-danger" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row padfull20">
                                                        <div class="col-lg-12">
                                                            <div class="row">
                                                                <div class="col-lg-4"><label class="pad10">Column1 Title</label></div>
                                                                <div class="col-lg-8">
                                                                    @Html.EditorFor(model => model.Column1Title, new { htmlAttributes = new { @class = "form-control" } })
                                                                    @Html.ValidationMessageFor(model => model.Column1Title, "", new { @class = "text-danger" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row padfull20">
                                                        <div class="col-lg-12">
                                                            <div class="row">
                                                                <div class="col-lg-4"><label class="pad10">Column 1 Message</label></div>
                                                                <div class="col-lg-8">
                                                                    @Html.EditorFor(model => model.Column1Message, new { htmlAttributes = new { @class = "form-control" } })
                                                                    @Html.ValidationMessageFor(model => model.Column1Message, "", new { @class = "text-danger" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row padfull20">
                                                        <div class="col-lg-12">
                                                            <div class="row">
                                                                <div class="col-lg-4"><label class="pad10">Column1 Call-to-Action (CTA) Text</label></div>
                                                                <div class="col-lg-8">
                                                                    @Html.EditorFor(model => model.Column1CTAText, new { htmlAttributes = new { @class = "form-control" } })
                                                                    @Html.ValidationMessageFor(model => model.Column1CTAText, "", new { @class = "text-danger" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row padfull20">
                                                        <div class="col-lg-12">
                                                            <div class="row">
                                                                <div class="col-lg-4"><label class="pad10">Column 1 Call-to-Action (CTA) Link</label></div>
                                                                <div class="col-lg-8">
                                                                    @Html.EditorFor(model => model.Column1CTALink, new { htmlAttributes = new { @class = "form-control" } })
                                                                    @Html.ValidationMessageFor(model => model.Column1CTALink, "", new { @class = "text-danger" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="tab-3" class="tab-pane">
                                                <div class="panel-body">
                                                    <div class="row padfull20">
                                                        <div class="col-lg-12">
                                                            <div class="row">
                                                                <div class="col-lg-4"><label class="pad10">Column 2 Image ID</label></div>
                                                                <div class="col-lg-8">
                                                                    @Html.EditorFor(model => model.Column2Image, new { htmlAttributes = new { @class = "form-control" } })
                                                                    @Html.ValidationMessageFor(model => model.Column2Image, "", new { @class = "text-danger" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row padfull20">
                                                        <div class="col-lg-12">
                                                            <div class="row">
                                                                <div class="col-lg-4"><label class="pad10">Column2 Title</label></div>
                                                                <div class="col-lg-8">
                                                                    @Html.EditorFor(model => model.Column2Title, new { htmlAttributes = new { @class = "form-control" } })
                                                                    @Html.ValidationMessageFor(model => model.Column2Title, "", new { @class = "text-danger" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row padfull20">
                                                        <div class="col-lg-12">
                                                            <div class="row">
                                                                <div class="col-lg-4"><label class="pad10">Column 2 Message</label></div>
                                                                <div class="col-lg-8">
                                                                    @Html.EditorFor(model => model.Column1Message, new { htmlAttributes = new { @class = "form-control" } })
                                                                    @Html.ValidationMessageFor(model => model.Column2Message, "", new { @class = "text-danger" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row padfull20">
                                                        <div class="col-lg-12">
                                                            <div class="row">
                                                                <div class="col-lg-4"><label class="pad10">Column2 Call-to-Action (CTA) Text</label></div>
                                                                <div class="col-lg-8">
                                                                    @Html.EditorFor(model => model.Column2CTAText, new { htmlAttributes = new { @class = "form-control" } })
                                                                    @Html.ValidationMessageFor(model => model.Column2CTAText, "", new { @class = "text-danger" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row padfull20">
                                                        <div class="col-lg-12">
                                                            <div class="row">
                                                                <div class="col-lg-4"><label class="pad10">Column 2 Call-to-Action (CTA) Link</label></div>
                                                                <div class="col-lg-8">
                                                                    @Html.EditorFor(model => model.Column1CTALink, new { htmlAttributes = new { @class = "form-control" } })
                                                                    @Html.ValidationMessageFor(model => model.Column2CTALink, "", new { @class = "text-danger" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input id="save" type="submit" value="Save" class="btn w-xs" style="background-color: #666666; margin-right: 20px; margin-bottom: 100px; margin-top: 20px; width: 280px; float: right; color: white;" />
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    <link rel="stylesheet" href="~/Content/demo.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/Content/bootstrap-datetimepicker.css" />
    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.css" rel="stylesheet">
    @Styles.Render("~/bundles/blueimp/css")
}

@section Scripts {
    <script type="text/javascript" src="~/scripts/jquery.hotspot.js"></script>
    @Scripts.Render("~/bundles/validation/js")
    @Scripts.Render("~/bundles/blueimp/js")

    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script type="text/javascript" src="/scripts/moment.min.js"></script>
    <script type="text/javascript" src="/scripts/bootstrap-datetimepicker.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.js"></script>

    <script type="text/javascript">

        $(document).ready(function () {
            $('#IntroductionMessage').summernote();
        });
    </script>
}